body{
    overflow-x: hidden;
}

.topbanner{
    background: url("../images/bg-tablet-pattern-top.svg") no-repeat;
    background-position: right top;
}

.bottombanner{
    background: url("../images/bg-tablet-pattern.svg") no-repeat;
    background-position: -450px 700px;
    /* background-size: 50% 50%; */
    /* overflow: visible; */
    /* z-index: -1; */
}


.backgroundFooter{
    background-color:hsl(228, 39%, 23%) ;
}

.zindex{
    z-index: 1;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.navigation{
    list-style-type: none;
    color: hsl(228, 39%, 23%);
}

.blueC{
    color: hsl(228, 39%, 23%);
}

.navigation a{

    text-decoration: none;
}

ul li{
    margin-left: px;
}

ul li:hover{
    color: hsl(227, 12%, 61%);
}

.aboutus{
    width: 100px;
}

.getStarted{
    background-color:hsl(12, 88%, 59%);
	border-radius:28px;
	border:none;
	display:inline-block;
    box-shadow: gray;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 40px;
	text-decoration:none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

mail input{
    border-radius: 40px 40px 40px 40px;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    text-indent: 100px 100px;
}

.getStartedWhite{
    background-color:white;
	border-radius:28px;
	border:none;
	display:inline-block;
    box-shadow: gray;
	cursor:pointer;
	color:hsl(12, 88%, 59%);
	font-family:Arial;
	font-size:17px;
	padding:15px 40px;
	text-decoration:none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}


.getStarted:hover {
	background-color:hsl(12, 88%, 80%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.getStartedWhite:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: hsl(12, 88%, 80%);
}


.getStarted:active {
	position:relative;
	top:1px;
}

.titre{
    margin-top:50px;
    
}

#presentation{
    margin-top: 150px;
}

 p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 21px;
    color:hsl(227, 12%, 61%);
}

#whoarewe{
    margin-top: 150px;
}

.numbers{
    background-color:hsl(12, 88%, 59%);
	border-radius:28px;
    padding:10px 20px;
}

.commentsrow{
    padding-top: 100px;
}

#comments p{
    margin-top: 50px;
    font-size: 18px;
}

.avatar{
    height: 80px;
    /* position: absolute; */
    margin-top: 40px;
}

.grayBox{
    background-color: hsl(0, 0%, 98%);
}

.orangebanner{
    background:url("../images/bg-tablet-pattern-orange.svg") no-repeat 50px -50px, url("../images/bg-tablet-pattern-top-2.svg") 1180px -460px red no-repeat;
    /* background: url("../images/bg-tablet-pattern-top-2.svg") right red no-repeat; */
    background-color: hsl(12, 88%, 59%);
    /* background-position: 50px -50px; */
}




#simplify{
    margin-top: 150px;
}

footer socials svg:hover{
    fill: red;
}

.links a{
    color: white;
}

.links a:hover{
    color: hsl(12, 88%, 59%);
}

.navigbar[data-visible="false"]{
    transform: translateX(0%);
}

.mobile-nav-toggle{
    background-color: transparent;
    display: none;
}

.mobile-nav-toggle[aria-expanded="false"]{
    background-image: url("../images/icon-close.svg");
}

@media (max-width: 900px){
    .navigbar{
        position:fixed;
        inset: 0 0 0 30%;
        background: hsl(12, 88%, 59%);
        flex-direction: column;
        padding: min(20vh, 15rem) 10rem 1rem;
        padding-left: 35%;
        font-weight: bold;
        font-size: 25px;
        transition: all .6s ease-in-out;
        transform: translateX(100%);
    }

    .navigbar a li{
        padding-left: 160%;
    }

    .navigbar a li:hover{
        color: white;
        transition: all .2s ease-in-out;
        transform: scale(1.1);
        
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background: url("../images/icon-hamburger.svg") no-repeat;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
        top: 4.1rem;
        right: 2rem;
        padding-left: 65px;
        z-index: 1;
    }
}